[submodule "tools/Paperclip"]
	path = tools/Paperclip
	url = https://github.com/PaperMC/Paperclip.git
[submodule "GlucoseLib"]
	path = GlucoseLib
	url = https://github.com/GlucoseDev/GlucoseLib.git
[submodule "Sticky"]
	path = Sticky
	url = https://github.com/GlucoseDev/Sticky.git
